/** Contact page Style **/
* {
    box-sizing: border-box;
    text-align: center;
}
header {
    float: left;
    border-style: none;
    padding: 20px;
    margin-left: 40px;
    color: white;
    width: none;
    height: none;
    background-color: teal;
}
button {
    float: right;
    color: white;
    background: White;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
}
#head {
    width: both;
    overflow: auto;
    color: #fff;
    background: #fff;
}
#name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}
#email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}
#message {
    width: 100%;
    length: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}
container {
    width: both;
    overflow: auto;
    color: #fff;
    background: #394549;
}

footer {
    padding: 20px;
    clear: both;
    background: grey;
    text-align: center;
}