* {
    box-sizing: border-box;
    text-align: left;
}
body {
    font-size: 24px;
    line-height: 32px;
}
header {
    float: left;
    border-style: none;
    padding: 20px;
    margin-left: 40px;
    color: white;
    width: none;
    height: none;
    background-color: teal;
}
button {
    float: right;
    color: white;
    background: White;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
}
#head {
    width: both;
    overflow: auto;
    color: #fff;
    background: #fff;
}
#full {
    width: both;
    overflow: auto;
    color: #fff;
    background: #394549;
    border-style: ridge;
  }
img {
    display: inline;
}
p {
    display: inline;
}
footer {
    padding: 20px;
    clear: both;
    background: grey;
    text-align: center;
}
